<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Splitter - Choose Mode</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container choice-container">
        <h2>Select Mode</h2>
        <a href="/classic" class="choice-button">Classic</a>
        <a href="/enhanced" class="choice-button">Enhanced</a>
    </div>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
